* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: linear-gradient(45deg, #8e2de2,#4a00a0);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


main{
    margin-top: -20px;
    border: solid white;
    padding: 50px;
    background: white;
    position: fixed;
    border-radius: 8px;
    min-height: 35vh;
    min-width: 35vh;
    box-shadow:5px 5px 15px rgba(0,0,0,0.3);
    text-shadow:2px 2px 2px rgba(0,0,0,0.3);
}

main h2{
    font-weight: 600;
    position: relative;
    margin-bottom: 30px;
}

form {
display: flex;
flex-direction: column;
}

#input1, #input2{
    font-size: 16px;
    color: rgba(0,0,0,0.7);
}
#input1{
    height: 30px;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    bottom: -5px;
    left: 0px;
    display: block;
    margin-top: 0px;  
    outline: none;
}

#input2{
    display: block;
    margin-top: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    width: 100%;
    margin-bottom: 30px;
    outline: none;
}

.container button{
    margin-bottom: 10px;
    padding: 4px;
    background: linear-gradient(to left,#4776E6, #8e54e9);
    border-radius: 4px;
    color: white;
    transition: all 0.3s ease;
    font-size: 15px;
    font-weight: 300;
    padding-right:90px;
    padding-bottom: 5px;
    align-items: center;
    padding-top: 7px ;
    padding-left: 90px;
}

button:hover{
    letter-spacing: 0.2px 0px 0px 0.2px ;
    background: linear-gradient(to right,#4776E6, #8e54e9);
}

span {
    padding-left: 13px;
}

.footer {
    margin-bottom: 10px;
}

#F{
    color: #4169E1;
    display: block;
    border-radius: 4px;
    background:linear-gradient(to right,#00008B,#7B68EE);
    padding-left: 30px;
    margin-left: 20px;
    margin-right: 15px;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-right: 20px;
}

#F:hover{
    background:linear-gradient(to left,#00008B,#7B68EE);
}

#I {
    background:linear-gradient(to right,#FF1493,    #FFA500);
    display: block;
    margin: 15px;
    margin-left: 20px;
    padding-left: 30px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 0px;
    border-radius: 4px;
    align-items: center;
}

#I:hover{
    background:linear-gradient(to left,#FF1493,    #FFA500);
}